    /*///////////////////////// for all elements /////////////////////////////*/
    @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
body {
    font-size: 100%;
    }
.container {
    max-width: 1232px;
    margin: 0 auto;
    align-items: stretch;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 80px auto auto 80px;
    }
    /*///////////////////////// Header //////////////////////// */
header {
    grid-column: 1/4;
    grid-row: 1/2;
    }
    /*////////////////////////// Menu //////////////////////////////*/
.navigation {
    grid-template-columns: 1fr auto;
    display: grid;
    border-bottom: 1px solid #c4c4c4;
    padding: 30px 0px 26px;
    }
.menu-burger {
    display: none;
    }
.nav-menu {
    display: flex;
    }
.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    }
.nav-list:last-child {
    border-bottom: 1px solid black;
    }
.nav-title {
    display: inline;
    margin-right: 34px;
    list-style-type: none;
    }
.btn {
    width: 112px;
    border: 1px solid #1a1b22;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px 37px 12px 19px;
    }
.btn-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px 12px 19px;
    }
.btn-entry p {
    margin: 0;
    }
.btn-entry img {
    padding-right: 15px;
    }
    /*///////////////////////// Promo ///////////////////////////*/
.promo {
    grid-column: auto;
    grid-row: auto;
    padding: 40px 0px 56px;
    }
.promo-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.5em;
    color: rgba(26, 27, 34, 0.5);
    margin-bottom: 28px;
    }
.promo-title h1 {
    grid-column: 1/2;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 46px;
    color: #1a1b22;
    margin-bottom: 30px;
    }
.promo-title p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.5em;
    color: #1a1b22;
    }
    /*///////////////////////// Cards ///////////////////////////////*/
.catalog-card {
    grid-column: 1/-1;
    grid-row: auto;
    padding: 62px 0px 62px;
    background: #f5f6f7;
    background-size: cover;
    }
.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    }
    /*///////////////////////// Image & Buttons Cards ///////////////////////*/
.card {
    max-width: 400px;
    height: 576px;
    border-radius: 16px;
    position: relative;
    padding: 0;
    border: 1px solid black;
    }
.picture img {
    max-width: 100%;
    border-radius: 16px 16px 0px 0px;
    }
.active-btn-flex {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 24px;
    top: 24px;
    right: 24px;
    }
.key-word {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 88px;
    background: #ffffff;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.5em;
    text-align: center;
    color: #000000;
    }
.active-btn-flex-inner {
    display: flex;
    }
.delete-card {
    background: #ffffff;
    border-radius: 10px;
    height: 40px;
    width: 159px;
    margin-right: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 0.875em;
    display: none;
    justify-content: center;
    align-items: center;
    color: #000000;
    }
.delete-card-flag {
    display: flex;
    }
.trash {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    }
.card-date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.5em;
    color: #b6bcbf;
    margin-top: 12px;
    }
    /*/////////////////////////// Text Cards //////////////////////////*/
.text {
    height: 304px;
    margin-left: 24px;
    margin-right: 24px;
    }
.text h2 {
    margin-bottom: 16px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    }
.text-info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.375em;
    color: #1a1b22;
    }
.tag {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #b6bcbf;
    position: absolute;
    bottom: 24px;
    left: 24px;
    }
    /*//////////////////////////// Footer ////////////////////////////*/
    footer {
    grid-column: 1/4;
    grid-row: auto;
    }
.footer-navigation {
    grid-template-columns: 1fr auto;
    display: grid;
    border-bottom: 1px solid #c4c4c4;
    padding: 30px 0px 26px;
    }
.copyright {
    grid-column: 1/2;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.375em;
    color: #b6bcbf;
    }
.footer-nav-list {
    display: inline-block;
    }
.social-web {
    display: inline;
    }
    /*//////////////////////////// @media //////////////////////////////*/
    @media (max-width: 1230px) {
.catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }
    }
    @media (max-width: 770px) {
.card {
        max-width: none;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: stretch;
    }
.text h2 {
        font-size: 1.375em;
        line-height: 1.5em;
    }
.text-info {
        width: 192px;
        height: 88px;
        font-size: 1em;
        line-height: 1.375em;
        overflow: hidden;
    }
.promo-title h1 {
        font-size: 1.875em;
        line-height: 34px;
    }
.container {
        max-width: 688px;
        grid-template-columns: 224px 224px 224px;
        grid-template-rows: 66px auto auto 66px;
    }
.key-word {
        width: 88px;
        height: 40px;
        font-size: 0.875em;
        line-height: 1.5em;
    }
.delete-card {
        display: none;
    }
    }
    @media (max-width: 340px) {
.container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "promo-block"
        "card"
        "footer";
        max-width: 320px;
        grid-template-columns: 288px;
        grid-template-rows: 66px auto auto 66px;
        padding: 0px 16px;
        display: grid;
    }
.menu-burger {
        display: block;
    }
.nav-menu {
        display: none;
    }
.catalog {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "card";
        gap: 10px;
    }
.catalog-card {
        padding: 24px 16px;
    }
.card {
        max-width: none;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: stretch;
    }
.footer-nav-list {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 13px;
    }
.nav-title {
        margin: 8px;
    }
.footer-nav-menu {
        display: grid;
        align-items: flex-start;
        flex-grow: 1;
        grid-template-columns: auto 72px;
        grid-template-rows: 72px auto;
        grid-column: 1/4;
        grid-row: 1/2;
    }
.footer-navigation {
        grid-template-columns: 1fr auto;
        display: grid;
    }
.copyright {
        display: grid;
        grid-column: 1/4;
        grid-row: 3/4;
    }
    }
